################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KnowYourToolset.ApiComponents
/KnowYourToolset.ApiComponents/bin/Debug/netstandard2.1
/KnowYourToolset.ApiComponents/obj
